#list {
  list-style: none;
  padding: 0;
}

.item {
  background: #f4f4f4;
  border-radius: 5px;
  font-style: italic;
  margin: 10px auto;
  padding: 5px 10px;
  text-align: left;
  width: calc(60vw + 90px);
}
.btn-votes {
  text-align: right;
}
.counter {
  font-size: 16px;
  margin-right: 10px; 
}
.btn {
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 3px;
  margin: 5px;
  width: 29px;
}
.btn-up {
  color: green;
}

.btn-down {
  color: red;
}


.input {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 3px;

}

.input-text {
  width: 60vw;
}

.input-submit {
  background: #ccc;
  border: 1px solid #000;
  color: #000;
}